<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css">
    <style>
        a:link,
        a:visited {
            background-color: dodgerblue;
            color: white;
            padding: 15px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        
        a:hover,
        a:active {
            background-color: slateblue;
            color: yellow;
            text-shadow: 2px 2px 5px black;
        }

        a {
            transition: all 250ms ease-in-out;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/">
            <h4>Home</h4>
        </a>
        <a href="/contact">
            <h4>Contact</h4>
        </a>
        <a href="/projects">
            <h4>Projects</h4>
        </a>
    </div>
    <div class="title">
        <h1>Projects</h1>
    </div>
    <div class="projects">
        <div class="imganddesc">
            <img class="dpp" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/dogs-playing-poker-1903-vintage-fine-art-vertigo-creative.jpg" alt="dogs-playing-poker"/>
            <p class="para2">You may have seen this image before... I coded this in CSS... With my bare hands...</p>
        </div>
        <div class="imganddesc">
            <img class="mc" src="https://media.architecturaldigest.com/photos/5b115f27a7a427430454e81d/master/w_2100,h_1782,c_limit/9.%20Drawing%20Hands.jpg" alt="mcescher">
            <p class="para2">You may have also seen this one... This is a self-portrait of my bare hands that I drew with my bare hands which was then digitally recreated with my bare hands using machine code on a keychain calculator...</p>
        </div>
        <div class="imganddesc">
            <img class="alexgray" src="https://i.pinimg.com/originals/8c/99/42/8c9942cc522505ac79b0a7eeab0e0b85.jpg" alt="alexgray">
            <p class="para2">Do I really need to explain how I created this one...?<p>
        </div>
    </div>
</body>
</html>